.container{
    text-align: center;
    display: flex;
    gap: 10px;
}

.items{
    height: 40px;
    width: 40px;
    border: 2px solid red;
}
.item1{
    flex-grow: 1;
}
.item2{
    flex-grow: 2;
}
.item3{
    flex-grow: 3;
}